.container .section:nth-child(2) {
  background: linear-gradient(
    to bottom right,
    #5B7FFF, #33CCFC
  );
    // background: #9884C7 url('../../back.jpg');
    background-size: cover;
    background-attachment: fixed;
  }