@import './_base';
@import 'Header';
@import './sections/Home';
@import './sections/About';
@import './sections/Projects';
@import './sections/InProgress';

html{
  // font-family:Arial,helvetica,sans-serif;
  font-family: monospace,sans-serif;
}

body {
  margin: 0;
  padding: 0;
  color: white;
}

html {
  scroll-behavior: smooth;
}

.container {
  position: relative;
  width: 100%;
  height: calc(100vh - $header-height);
  overflow: auto;
  scroll-snap-type: y mandatory;
}

.container .section {
  position: relative;
  width: 100%;
  height: 100%;
  scroll-snap-align: start;
  // background-blend-mode: multiply;
}

.container .section .content {
  position: absolute;
}